AlwaysOnWearActivity
AndroidTVActivity
BasicActivity
BlankWearActivity
BottomNavigationActivity
common
EmptyActivity
FullscreenActivity
GoogleAdMobAdsActivity
GoogleMapsActivity
GoogleMapsWearActivity
LoginActivity
MasterDetailFlow
MVPActivity-Kotlin-legacy
NavigationDrawerActivity
ScrollActivity
SettingsActivity
TabbedActivity
u2020
AppAnd*
AndroidThingsActivity
AndroidThingsPeripheralActivity
ViewModelActivity
